
@{
    ViewBag.Title = "Confirmation";
}

@model Movies.Models.AddMovie;

<!--Page to confirm a movie was accepted-->

<div class="masthead container d-flex align-items-center flex-column">
    <h2>Your Movie was successfully submitted!</h2>
    <p>The movie, "@Model.Title" was added to the list.</p>

</div>
